/* General Styles */
body {
  font-size: 10px; 
  font-family: "Montserrat", sans-serif; 
  background-color: #FFFFFF;
  margin: 20px;
}


/* SVG and Chart */
svg {
  border: 1px solid #ddd;
  background-color: white;
}

.line {
  fill: none;
  stroke-width: 2px;
}

.axis path,
.axis line {
  fill: none;
  shape-rendering: crispEdges;
}

.axis text {
  font-size: 12px;
}

/* Tooltip */
.tooltip {
  position: absolute;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  pointer-events: none;
  display: none;
}

.tooltip::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #ccc transparent transparent transparent;
}
