/* General Styles */
body {
  font-size: 10px; 
  font-family: "Montserrat", sans-serif; 
  background-color: #FFFFFF;
  margin: 20px;
}


/* SVG and Chart */
svg {
  border: 1px solid #ddd;
  background-color: white;
}

.line {
  fill: none;
  stroke-width: 3px;
}


.axis path,
.axis line {
  fill: none;
  shape-rendering: crispEdges;
}

.axis text {
  font-size: 12px;
}

/* Tooltip */
.tooltip {
  position: absolute;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  pointer-events: none;
  visibility: hidden;
}

.tooltip::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: #ccc transparent transparent transparent;
}

/*For the waste and district box*/
.district-box {
    background-color: #ffffff; 
    text-align: center;
    padding: 2rem;
    border-radius: 15px; /* Rounded corners */
    width: 80%;
    margin: 2rem auto;
    border: 2px solid #091f2f;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.district-box h2 {
  color: #091f2f;
  justify-content: left;
  text-align: left;
}

.info-text {
  text-align: left;
}

.chart-container {
  display: flex;
  justify-content: space-between; /* Space out the chart and text */
  align-items: center; /* Align items vertically */
  margin-top: 1rem; /* Add spacing above */
  gap: 3rem;
}

svg {
  flex: 2; /* Allow the chart to take up most of the space */
  max-width: 60%; /* Limit its width */
}

.chart-text {
  flex: 1; /* Allow the text to take up remaining space */
  padding-left: 2rem; /* Add spacing between the chart and text */
  font-size: 12px;
  text-align: left;
  background-color:  #F2F2F2;
  border: #091f2f;
}

.increase {
    color: red; /* Red for increased */
    font-weight: bold;
}

.decrease {
    color: green; /* Green for decreased */
    font-weight: bold;
}