html {
  font-size: 10px; 
  font-family: "Montserrat", sans-serif; 
}

body {
    margin: 0;
    padding: 0;
}
header {
    background-color: #091F2F;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

header img {
    height: 50px;
}

nav {
    text-align: center;
    margin: 1rem 0;
}
nav a {
    margin: 0 1rem;
    text-decoration: none;
    color: #4CAF50;
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}
.graph {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 5px;
}
.graph img {
    max-width: 100%;
    height: auto;
}
